<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../css/app.css" rel="stylesheet">
    <link href="../css/blue.css" rel="stylesheet">
    <link href="../css/main_app.css" rel="stylesheet">
    <title>Dashboard Page</title>
</head>

<body>
    <div class="main-div flx flx1">
        <!-- {/* let panel */} -->
        <div class="left-panel">
            <div class="lt-top">
                <div class="lt-top-logo page-active jcc">Alchemy</div>
                <div class="lt-top-title">
                    <span class="title4">Hi, John Doe</span>
                </div>
            </div>
            <div class="admin-sub-menu"><span class="pr-2"><i class="fa fa-home"></i></span><span>Dashboard</span></div>
            <div class="admin-sub-menu admin-menu-active"><span class="pr-2"><i class="fa fa-user"></i></span><span>Trainers</span>
            </div>
            <div class="admin-sub-menu"><span class="pr-2"><i class="fa fa-home"></i></span><span><a href="./Home.html" style="color: #D0D0D0;">Logout</a></span></div>
        </div>

        <!-- {/* right panel */} -->
        <div class="top-right-panel flx flx1">
            <!-- {/* top search bar */} -->
            <div class="flx flx-center admin-top-bar">
                <div class="page-active flx1 aic">Trainers<span>(120)</span></div>
                <div class="aic">
                    <div class="mr-3">
                        <input type="text" class="form-control t-search-box" placeholder="Search Trainer" />
                    </div>
                    <div>
                        <div class="loginBtn f14">+ Add Trainer</div>
                    </div>
                </div>
            </div>

            <!-- {/* right panel main body */} -->
            <div class="right-panel-body">
                <div class="h100">
                    <div class="p15">
                        <table class="table alc-table">
                            <thead>
                                <tr>
                                    <th>Trainer Name <span class="ml-2"><i class="fa fa-sort"></i></span></th>
                                    <th>Rating<span class="ml-2"><i class="fa fa-sort"></i></span></th>
                                    <th>Location<span class="ml-2"><i class="fa fa-sort"></i></span></th>
                                    <th>Core Skills<span class="ml-2"><i class="fa fa-sort"></i></span></th>
                                    <th>Last Updated On<span class="ml-2"><i class="fa fa-sort"></i></span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="flx flx-center">
                                            <div class="mr10">
                                                <span class="user-img-sm">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="flx1 elps">
                                                Ankit Kumar
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="rating-star mr-1"><i class="fa fa-star"></i></span><span>4.8</span>
                                    </td>
                                    <td>Delhi, India</td>
                                    <td>Microsoft</td>
                                    <td>20/10/2020</td>
                                    <td><i class="fa fa-ellipsis-v"></i></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="flx flx-center">
                                            <div class="mr10">
                                                <span class="user-img-sm">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="flx1 elps">
                                                Ankit Kumar
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="rating-star mr-1"><i class="fa fa-star"></i></span><span>4.8</span>
                                    </td>
                                    <td>Delhi, India</td>
                                    <td>Microsoft</td>
                                    <td>20/10/2020</td>
                                    <td><i class="fa fa-ellipsis-v"></i></td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="flx flx-center">
                                            <div class="mr10">
                                                <span class="user-img-sm">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="flx1 elps">
                                                Ankit Kumar
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="rating-star mr-1"><i class="fa fa-star"></i></span><span>4.8</span>
                                    </td>
                                    <td>Delhi, India</td>
                                    <td>Microsoft</td>
                                    <td>20/10/2020</td>
                                    <td><i class="fa fa-ellipsis-v"></i></td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="flx flx-center">
                                            <div class="mr10">
                                                <span class="user-img-sm">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="flx1 elps">
                                                Ankit Kumar
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="rating-star mr-1"><i class="fa fa-star"></i></span><span>4.8</span>
                                    </td>
                                    <td>Delhi, India</td>
                                    <td>Microsoft</td>
                                    <td>20/10/2020</td>
                                    <td><i class="fa fa-ellipsis-v"></i></td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="flx flx-center">
                                            <div class="mr10">
                                                <span class="user-img-sm">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="flx1 elps">
                                                Ankit Kumar
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="rating-star mr-1"><i class="fa fa-star"></i></span><span>4.8</span>
                                    </td>
                                    <td>Delhi, India</td>
                                    <td>Microsoft</td>
                                    <td>20/10/2020</td>
                                    <td><i class="fa fa-ellipsis-v"></i></td>
                                </tr>

                                <tr>
                                    <td>
                                        <div class="flx flx-center">
                                            <div class="mr10">
                                                <span class="user-img-sm">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="flx1 elps">
                                                Ankit Kumar
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="rating-star mr-1"><i class="fa fa-star"></i></span><span>4.8</span>
                                    </td>
                                    <td>Delhi, India</td>
                                    <td>Microsoft</td>
                                    <td>20/10/2020</td>
                                    <td><i class="fa fa-ellipsis-v"></i></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- {/* /right panel main body */} -->
        </div>
        <!-- {/* /right panel */} -->

    </div>

</body>

</html>