<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../css/app.css" rel="stylesheet">
    <link href="../css/blue.css" rel="stylesheet">
    <link href="../css/main_app.css" rel="stylesheet">
    <title>Trainer Details</title>
</head>

<body>
    <div class="mainHeader">
        <div class="headerInner">
            <div class="logoIcn"><a to="/" class="page-active">Alchemy</a></div>
            <div class="d-flex">
                <div class=" mr-3"><a href="./Modals.html" class="alc-nav-menu">Login Modal</a></div>
                <div class=" mr-3"><a href="./SearchResult.html" class="alc-nav-menu">Search Trainer</a></div>
                <div class=" mr-3"><a href="./SearchDetails.html" class="alc-nav-menu">Trainer Details</a></div>
                <div class=" mr-3"><a href="./DashTrainerDetails.html" class="alc-nav-menu">DashTrainer Details</a>
                </div>
                <div class=" mr-3"><a href="./Dashboard.html" class="alc-nav-menu">Dashboard</a></div>
                <div class=" mr-4"><a href="./ContactPage.html" class="alc-nav-menu">Contact Us</a></div>
                <div class="loginBtn mr-2">LOGIN</div>
            </div>
        </div>
    </div>

    <div class="search-master">
        <div class="container">
            <div class="search-breadcrumb"><span class="cp">Home / </span><span class="cp"> Search Results /
                </span><span class="current-active cp"> Ankit Kumar </span></div>
            <!-- {/* trainer details page from admin settings */} -->
            <div class="row">
                <div class="col-sm-8">
                    <div class="td-card-container">
                        <div class="fdc">
                            <!-- {/* profile details card */} -->
                            <div class="td-card">
                                <div class="tpd-header">
                                    <div class="tpd-header-action">
                                        <div class="loginBtn mr-2">Download Profile</div>

                                    </div>
                                </div>
                                <div class="tpd-body">
                                    <div class="tpd-pic-div">
                                        <span class="ct-rating">
                                            <div class="rating-badge box-shadow">
                                                <span class="rating-star mr-1"><i class="fa fa-star"></i></span>
                                                <span>4.8</span>
                                            </div>
                                        </span>
                                        <span class="user-profile-pic"><span>AK</span></span>
                                    </div>
                                    <div class="tpd-info">
                                        <div class="title1 jcc">Ankit Kumar</div>
                                        <div class="f12 jcc">Python Developer</div>
                                        <div class="f12 jcc">Delhi, India</div>
                                    </div>
                                    <div class="tpd-desc">
                                        <div class="tpd-desc-title">About</div>
                                        <div class="tpd-desc-info">this is description user profile details. this is
                                            description user profile details. this is description user profile details.
                                            this is description user profile details.</div>
                                    </div>
                                </div>
                            </div>
                            <!-- {/* contact details card */} -->
                            <div class="td-card">
                                <div class="tcd-header">
                                    <div class="tpd-header-action">

                                    </div>
                                </div>
                                <div class="tcd-info">
                                    <div class="tcd-title">Contact Info</div>
                                    <div class="row">
                                        <div class="col-sm-3 text-muted">Phone:</div>
                                        <div class="col-sm-9">+91 123356799</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 text-muted">Email:</div>
                                        <div class="col-sm-9">ankit.kumar@test.com</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 text-muted">Linkedin:</div>
                                        <div class="col-sm-9">linked.com/ankitkumar</div>
                                    </div>
                                </div>
                            </div>
                            <!-- {/* end contact details card */} -->

                            <!-- {/* Core skill(s) details card */} -->
                            <div class="td-card">
                                <div class="tcd-header">
                                    <div class="tpd-header-action">

                                    </div>
                                </div>
                                <div class="tcd-info fdc">
                                    <div class="tcd-title">Core Skill(s)</div>
                                    <div class="flx">
                                        <div class="courseBtn mr-2">Python Development</div>
                                        <div class="courseBtn mr-2">Javascript</div>
                                        <div class="courseBtn mr-2">React JS</div>
                                    </div>
                                    <div class="tcd-title">Additional Skill(s)</div>
                                    <div class="flx">
                                        <div class="courseBtn1 mr-2">HTML</div>
                                        <div class="courseBtn1 mr-2">Java</div>
                                    </div>
                                </div>
                            </div>
                            <!-- {/* end contact details card */} -->

                            <!-- {/* other details card */} -->
                            <div class="td-card">
                                <div class="tcd-header">
                                    <div class="tpd-header-action">

                                    </div>
                                </div>
                                <div class="tcd-info">
                                    <div class="tcd-title">Other Details</div>
                                    <div class="row">
                                        <div class="col-sm-3 text-muted">Trainer Charge:</div>
                                        <div class="col-sm-9">+91 123356799</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 text-muted">Course Content:</div>
                                        <div class="col-sm-9"><span class="text-link">course_content.pdf</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 text-muted">CV:</div>
                                        <div class="col-sm-9"><span class="text-link">ankit_kumar_resume.pdf</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 text-muted">Reference:</div>
                                        <div class="col-sm-9">- -</div>
                                    </div>
                                </div>
                            </div>
                            <!-- {/* end contact details card */} -->


                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="fdc">

                        <!-- {/* Top Trainers card details */} -->
                        <div class="td-card">
                            <div class="activity-card">
                                <div class="activity-card-header jcb">
                                    <div class="title1">Top Trainers</div>
                                </div>
                                <div class="activity-card-info">

                                    <!-- {/* row  */} -->
                                    <div class="activity-row jcb">
                                        <div class="activity-info-title flx flx-center">
                                            <div class="mr10">
                                                <span class="top-trainer-pic">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="">
                                                <div class="title">IBM, Delhi</div>
                                                <div class="f12 text-muted">10/11/2020</div>
                                            </div>
                                        </div>
                                        <div class="rating-badge mt-2">
                                            <span class="rating-star mr-1"><i class="fa fa-star"></i></span>
                                            <span>4.0</span>
                                        </div>
                                    </div>
                                    <!-- {/* row  */} -->

                                    <div class="activity-row jcb">
                                        <div class="activity-info-title flx flx-center">
                                            <div class="mr10">
                                                <span class="top-trainer-pic">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="">
                                                <div class="title">IBM, Delhi</div>
                                                <div class="f12 text-muted">10/11/2020</div>
                                            </div>
                                        </div>
                                        <div class="rating-badge mt-2">
                                            <span class="rating-star mr-1"><i class="fa fa-star"></i></span>
                                            <span>4.0</span>
                                        </div>
                                    </div>

                                    <div class="activity-row jcb">
                                        <div class="activity-info-title flx flx-center">
                                            <div class="mr10">
                                                <span class="top-trainer-pic">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="">
                                                <div class="title">IBM, Delhi</div>
                                                <div class="f12 text-muted">10/11/2020</div>
                                            </div>
                                        </div>
                                        <div class="rating-badge mt-2">
                                            <span class="rating-star mr-1"><i class="fa fa-star"></i></span>
                                            <span>4.0</span>
                                        </div>
                                    </div>

                                    <div class="activity-row jcb">
                                        <div class="activity-info-title flx flx-center">
                                            <div class="mr10">
                                                <span class="top-trainer-pic">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="">
                                                <div class="title">IBM, Delhi</div>
                                                <div class="f12 text-muted">10/11/2020</div>
                                            </div>
                                        </div>
                                        <div class="rating-badge mt-2">
                                            <span class="rating-star mr-1"><i class="fa fa-star"></i></span>
                                            <span>4.0</span>
                                        </div>
                                    </div>

                                    <div class="activity-row jcb">
                                        <div class="activity-info-title flx flx-center">
                                            <div class="mr10">
                                                <span class="top-trainer-pic">
                                                    <span>AK</span>
                                                </span>
                                            </div>
                                            <div class="">
                                                <div class="title">IBM, Delhi</div>
                                                <div class="f12 text-muted">10/11/2020</div>
                                            </div>
                                        </div>
                                        <div class="rating-badge mt-2">
                                            <span class="rating-star mr-1"><i class="fa fa-star"></i></span>
                                            <span>4.0</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- {/* end Top Trainers card details */} -->


                        <!-- {/* Top Technology details */} -->
                        <div class="td-card">
                            <div class="activity-card">
                                <div class="activity-card-header title1">Top Technology</div>
                                <div class="activity-card-info">

                                    <div class="activity-row jcb">
                                        <div class="activity-info-title flx flx-center">
                                            <div class="mr10">
                                                <span class="top-tech-pic">
                                                    <!-- {/* <span>AK</span> */} -->
                                                </span>
                                            </div>
                                            <div class="">
                                                <div class="title">Microsoft</div>
                                                <div class="f12 text-muted elps">Lorem ipsum dolor sit amet consectetur
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="activity-row jcb">
                                        <div class="activity-info-title flx flx-center">
                                            <div class="mr10">
                                                <span class="top-tech-pic">
                                                    <!-- {/* <span>AK</span> */} -->
                                                </span>
                                            </div>
                                            <div class="">
                                                <div class="title">Microsoft</div>
                                                <div class="f12 text-muted elps">Lorem ipsum dolor sit amet consectetur
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- {/* end Top Technology details */} -->

                    </div>
                </div>
            </div>
            <!-- {/* end trainer details page from admin settings */} -->


        </div>

        <!-- Footer -->
        <div class="footer">
            <div class="footer-body">
                <div class="pt-3 pb-3">
                    <div class="jcb">
                        <div><span>Terms & Condition</span><span class="pl-2 pr-2">|</span><span>Privacy Policy</span>
                        </div>
                        <div>Copyright &copy; 2020. All Right Reserved.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>